#home {
    height: 36rem;
    padding-top: 1rem;
    min-width: 12rem;
}

.home-pp {
    width: 18rem;
    min-width: 12rem;
}

.home-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.home-text-container {
    display: flex;
    flex-direction: column;
}

.home-text-container span {
    color: #36454F;
    font-family: Verdana, sans-serif;
    letter-spacing: 0.16em;
    line-height: 1.8em;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
}

.home-hello-text {
    font-size: 1rem;
}

.home-name-text {
    font-size: 3rem;
}

.home-role-text {
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .home-hello-text {
        font-size: 1rem;
    }
    
    .home-name-text {
        font-size: 2rem;
    }
    
    .home-role-text {
        font-size: 1rem;
    }  
    
    .home-text-container {
        padding-top: 2em;
    }
  }