.projectItem-img{
    width: 12rem;
    height: 12rem;  
    border-radius: 1rem;
    margin-top: 1rem;
}

.projectItem-appstore{
    width: 10.8rem;
    height: 2.8rem; 
    padding-top: 0.8rem;
}

.projectItem-container{
    width: 14.8rem;
    height: 20.4rem;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.projectItem-title{
    letter-spacing: 0.16em;
    line-height: 1.8em;
    padding-top: 1rem;
    font-size: large;
}

@media (max-width: 600px) {
    .projectItem-container {
        width: 14rem;
    }
}