.projectItem-container{
    width: 16rem;
    height: 20rem;
    border-radius: 20px;
    border-color: #D3D3D3;
    border-width: 2px;
    border-style: solid;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.projectItem-title{
    color: #36454F;
    font-family: Verdana, sans-serif;
    letter-spacing: 0.16em;
    line-height: 1.8em;
    padding-top: 2rem;
}

@media (max-width: 600px) {
    .projectItem-container {
        width: 14rem;
    }
}