#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
}

.contact-container img{
    width: 2rem;
    padding-right: 0.4rem;
}

.contact-title {
    letter-spacing: 0.16em;
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

.contact-mail-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.contact-link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
}

.contact-link-container a{
    color: #36454F;
    text-decoration: none;
    border-bottom: 2px solid #B9D8E4;
}

.contact-link-container a:hover { 
    border-bottom: 4px solid #B9D8E4;
  } 

@media (max-width: 600px) {
    .contact-title {
        font-size: 1.2rem;
    }
}
